# dependencies
node_modules/
application/angular/node_modules
application/ionic/node_modules
application/ionic-mobileapp/node_modules

# System Files
.DS_Store
Thumbs.db

# Logs
logs/*

# exception to the rule
!logs/README.txt