<section class="content">

    <mat-card>
        <button mat-flat-button (click)="returnToLogin()" style="margin-bottom: 2rem;">Retour</button>

        <mat-card-title>NUTRECIPE</mat-card-title>

        <mat-card-subtitle>Inscription</mat-card-subtitle>

        <mat-card-content>
            <form>
                <div>
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder='Nom' type="text" id="last_name" name="last_name" [formControl]="lastNameControl" min="1">
                        <mat-error *ngIf="lastNameControl.invalid">{{ getErrorMessage('last_name') }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Prenom</mat-label>
                        <input matInput placeholder='Prenom' type="text" id="first_name" name="first_name" [formControl]="firstNameControl" min="1">
                        <mat-error *ngIf="firstNameControl.invalid">{{ getErrorMessage('first_name') }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Numéro de téléphone</mat-label>
                        <input matInput placeholder='N° téléphone' type="tel" id="phone_number" name="phone_number" [formControl]="phoneNumberControl" min="10" max="20">
                        <mat-error *ngIf="phoneNumberControl.invalid">{{ getErrorMessage('phone_number') }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder='email' type="email" id="email" name="email" [formControl]="emailControl" required>
                        <mat-error *ngIf="emailControl.invalid">{{ getErrorMessage('email') }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field hintLabel="Min 6 caractères">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput #input placeholder='mot de passe' min="6" [type]="hide ? 'password' : 'text'" id="password" name="password" [formControl]="passwordControl" required>
                        <mat-error *ngIf="passwordControl.invalid">{{ getErrorMessage('password') }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visiblity' }}</mat-icon>
                        </button>
                        <mat-hint align="end">{{ input.value?.length || 0}}/6</mat-hint>
                    </mat-form-field>
                </div>
                <br>
                <div class="buttons">
                    <div><button mat-raised-button color="primary" type="button" (click)="onFormSubmit()">Valider</button></div>
                </div>
            </form>
        </mat-card-content>

    </mat-card>
    
</section>


