<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/dashboard">Tableau de bord</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <span class="nav-link" aria-current="page">Login user</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" (click)="logout()">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="left-sidebar bg-dark">
    <h5 class="text-center text-light mt-3">Menu</h5>
    <hr>
    <ul>
        <li class="mb-1" routerLink="/ingredients">
            <button class="btn btn-toggle align-items-center rounded text-light" value="ingredient">
                <img src="./../../assets/images/carrot.svg" height=20 alt="onglet ingrédient">
                Ingrédients
            </button>
        </li>

        <hr>

        <li class="mb-1" routerLink="/recipes">
            <button class="btn btn-toggle align-items-center rounded text-light" value="recipe">
                <img class="whiteFilter" src="./../../assets/images/fork_knife.svg" height=20 alt="onglet recette">
                Recettes
            </button>
        </li>

        <hr>

        <li class="mb-1" routerLink="/users">
            <button class="btn btn-toggle align-items-center rounded text-light" value="user">
                <img class="whiteFilter" src="./../../assets/images/user.svg" height=20 alt="onglet Utilisateur">
                Utilisateurs
            </button>
        </li>

    </ul>
</div>

